.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin: 2rem 0;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit {
    color: rgb(31, 110, 228);
}

.delete {
    color: red;
}